<div id="imageUploadModalError" class="popup">
    <p class="error"></p>
    <button id="closeErrorModalButton">Close</button>
</div>

<div id="imageUploadModalLoader" class="popup">
    <p class="loadingAnimation"></p>
</div>