<div id="imageUploadModalError" class="popup">
    <h2 class="error"></h2>
    <br>
    <button id="closeErrorModalButton">Close</button>
</div>

<div id="imageUploadModalLoader" class="popup">
    <p class="loadingAnimation"></p>
</div>